@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
  --white: #ffffff;
  --white-transparent: #f2f2f29f;
  --grey: rgb(245, 243, 241);
  --black: rgb(27, 25, 25);
  --black-transparent: rgba(20, 20, 19, 0.808);
  --gold: rgb(134, 108, 2);
  --gold-faded: rgb(134, 108, 2, 0.3);
  --gold-light: rgb(209, 174, 76);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: auto;
}
html {
  font-size: 16px;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--white);
  letter-spacing: 0.08rem;
}

a {
  color: var(--white);
  text-decoration: none;
  padding: 1rem;
  text-transform: uppercase;
  position: relative;
  transition: 100ms;
}
a:hover {
  color: var(--gold);
}

ul {
  list-style: none;
}
.btn {
  padding: 1rem 3.5rem;
}
.btn a:hover {
  color: var(--white);
  background-color: var(--gold-light);
  border: none;
  transition: background-color 250ms ease;
}

.btn a {
  padding: 1em 2em;
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--gold);
  border: 2px solid var(--gold-light);
  border-radius: 0.15rem;
}
.btn_slider {
  background-color: transparent;
  border: none;
  margin: 0 0.5rem 0 0.5rem;
  opacity: 0.7;
  transition: opacity 250ms ease;
  transition: background-color 150ms ease;
}
.btn_slider:hover {
  cursor: pointer;
  opacity: 1;
  background-color: var(--grey);
}

/* ----------------navigation-----------------*/
.nav-bar {
  background-color: var(--black);
  height: 100vh;
  padding: 2rem;
  padding-bottom: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-size: 0.8rem;
  box-shadow: 1px 2px 24px -3px rgba(0, 0, 0, 0.5);
}
.nav-bar-menus {
  height: auto;
  padding-bottom: 3rem;
}

.nav-bar::before {
  content: '';
  background-image: url(images/back1.jpg);
  background-size: cover;
  background-position-y: 0;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
}
.logo-mobile {
  position: relative;
  height: 160px;
}

.nav-list-desktop {
  position: absolute;
  visibility: hidden;
  z-index: 1;
}

.nav-list {
  display: block;
  position: absolute;
  width: 100%;
  top: -200%;
  left: 0;
  /* background-color: var(--black); */
  opacity: 0;
  padding: 1rem;
  padding-top: 20rem;
  padding-bottom: 3rem;
  z-index: 98;
  transition: opacity 250ms ease-out;
}
/* .burger::after {
  content: url('images/logo2.svg');
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translateX(-50%);
} */
.nav-list.show {
  opacity: 1;
  top: 0;
  transition: opacity 150ms ease-out;
}

.nav-list li a {
  font-weight: 100;
}
.nav-list li {
  margin-top: 2rem;
  list-style-type: none;
  font-size: 1rem;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 0;
  margin-top: 1.2rem;
  margin-left: 3rem;
  margin-right: 3rem;

  border-bottom: 1px dotted var(--white-transparent);
}

.nav-list:last-child a::after {
  width: 0;
}
.icon-email {
  z-index: 98;
}

.burger {
  padding: 1rem;
  z-index: 98;
}
.home-icon {
  padding: 1rem;
  z-index: 98;
}
.home-icon a {
  padding: 0;
  margin: 0;
}
.burger:hover {
  cursor: pointer;
}
.burger-icon.show {
  opacity: 1;
}
.burger-icon {
  opacity: 0;
}
.burger-icon-close {
  position: absolute;
  right: 3rem;
  opacity: 0;
}
.burger-icon-close.show {
  opacity: 1;
}
h2 {
  /* display: none; */
}
.h2 {
  display: none;
}
.h2.show {
  display: block;
  min-width: 25rem;
  text-align: center;
  position: absolute;
  z-index: 97;
  top: 55%;
  left: 50%;
  color: var(--white);
  transform: translateX(-50%);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  text-transform: uppercase;
}
/* .h2::after {
  content: '';
  background-color: var(--white);
  position: absolute;
  width: 7rem;
  height: 1px;
  bottom: 3rem;
  right: 50%;
  transform: translateX(50%);
} */

.h2 p {
  padding-top: 1.5rem;
  font-size: 1.2rem;
  text-transform: initial;
}
/* --------------main section---------------- */
.main-wrapper {
  text-align: center;
  margin: auto;
}
.text {
  padding: 3rem 2rem 1rem 2rem;
  /* margin-top: 2rem; */
}
.text h1 {
  color: var(--black);
  font-size: 1.5rem;
  padding-bottom: 3rem;
  font-weight: 700;
  /* line-height: 1.2; */
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  text-transform: uppercase;
}
h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  letter-spacing: initial;
}
/* span {
  font-weight: 700;
} */
.menu-index {
  position: absolute;
  width: 100%;
  padding: 1rem 0 2rem 0;
  background-color: var(--white-transparent);
  visibility: hidden;
  opacity: 0;
  z-index: 99;
}
.menu-index.show {
  opacity: 1;
  visibility: visible;
  animation: drop 250ms ease-in-out;
}
.menu-index li {
  font-size: 1rem;
  padding: 0.5rem;
}
.menu-index a {
  color: var(--black);
  text-transform: initial;
}
.menu-index li span {
  font-weight: 600;
}
.menu-index-item {
  position: relative;
  margin: 0 3rem;
  border-bottom: 1px dotted var(--gold-faded);
}
.menu-index-item::after {
  content: url(images/icon-arrow-down.svg);
}

.text5 {
  background-color: var(--black);
  color: var(--white);
}

.text5 h1 {
  color: var(--white);
}

/* ------------------MENUS------------------ */
summary {
  list-style-type: none;
  cursor: pointer;
  margin-top: 0.5rem;
}

summary:focus {
  outline: none;
}

summary::-webkit-details-marker {
  display: none;
}
summary span {
  background-color: var(--white);
  padding: 0 0.5rem;
}
summary::before {
  content: '';
  position: absolute;
  top: 50%;
  z-index: -1;
  background-color: var(--gold-faded);
  height: 1px;
  left: 2rem;
  right: 2rem;
}
summary::after {
  content: url(images/icon-arrow-down.svg);
  position: absolute;
  transform: scale(0.7);
  right: 0;
  transition: 0.25s transform ease;
}
details[open] > summary:after {
  transform: rotate(180deg) scale(0.7);
}
details[open] summary ~ * {
  animation: drop 0.5s ease-in-out;
}

.submenu {
  padding: 2rem;
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.submenu h2 {
  font-size: 1.2rem;
  color: var(--black);
  font-weight: 400;
}
.submenu span {
  font-weight: 600;
}
.submenu h3 {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: var(--black);
  font-weight: 400;
}
.submenu p {
  font-size: 0.6rem;
  padding-top: 0.3rem;
  padding-bottom: 1rem;
}
.menu-description {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  text-align: left;
}

.dash {
  text-align: center;
  font-size: 2rem;
}
.create {
  text-align: right;
  justify-self: end;
}

.submenu-item {
  color: var(--black);
  font-weight: 600;
  position: relative;
  z-index: 1;
  padding: 0.3rem 0 0.3rem 0;
}

/* -------------------------------------------- */
.slider_wrapper {
  padding-top: 3rem;
}
.gallery_pic {
  background-size: cover;
  height: 25rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.btn-contact {
  padding-bottom: 3rem;
}
.text h1::after {
  content: '';
  background-color: var(--gold);
  position: absolute;
  width: 6rem;
  height: 2px;
  bottom: 1rem;
  right: 50%;
  transform: translateX(50%);
}
.text p {
  margin-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.9rem;
}

.pic2,
.pic3 {
  width: 100%;
  margin-top: 2rem;
}
.menu_pics_back {
  background-color: var(--grey);
  position: relative;
}
/* .menu_pics_back::before {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.822);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
} */
.menu_pic {
  overflow: hidden;
}

/* ------------------BACKGROUND PIC MENUS----------------- */
.menu_pics {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.big_num {
  position: absolute;
  font-size: 10rem;
  top: 20%;
  transform: translateY(-50%);
  left: 20%;
  color: var(--white-transparent);
  opacity: 1;
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
}
.menu_six .big_num {
  top: 45%;
}

.tag_desc {
  position: absolute;
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  font-size: 1.5rem;
  top: 50%;
  left: 30%;
  opacity: 1;
  align-self: center;
  line-height: 1;
  color: var(--white-transparent);
}
.menu_pics {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 2rem;
}
.menu_pics a {
  color: var(--black);
  text-transform: initial;
}
.menu_pics span {
  font-weight: 600;
  display: block;
}
.menu_pic {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 10rem;
  width: 7rem;
  padding-left: 1rem;
  text-align: left;

  margin: 0 auto 0 auto;
}
.menu_pic_link {
  padding: 0.4rem;
}

.menu_pic_bg {
  position: absolute;
  content: '';
  background-color: var(--gold);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: background-color 250ms ease-in-out;
}

.menu_pic:hover .tag_desc,
.menu_pic:hover .big_num {
  opacity: 1;
}
.menu_pic:hover .big_num {
  /* color: rgb(206, 193, 17); */
  color: var(--white);
}
.menu_pic:hover .tag_desc {
  color: var(--gold-light);
}

.menu_pic:hover .menu_pic_bg {
  /* rgba(134, 108, 2, 0.192) */
  background-color: var(--gold);
}
.menu_pic::before,
.menu_pic::after {
  content: '';
  position: absolute;
  top: 0.6em;
  bottom: 0.6em;
  left: 0.6em;
  right: 0.6em;
  transition: transform 250ms ease-in;
}
.menu_pic::after {
  border-right: 1px solid var(--white-transparent);
  border-left: 1px solid var(--white-transparent);
  transform: scale(1, 1.2);
}
.menu_pic::before {
  border-top: 1px solid var(--white-transparent);
  border-bottom: 1px solid var(--white-transparent);
  z-index: 10;
  transform: scale(1.1, 1);
}
.menu_pic:hover::after {
  border-right: 1px solid var(--white-transparent);
  border-left: 1px solid var(--white-transparent);
  transform: scale(1, 1.2);
}
.menu_pic:hover::before {
  border-top: 1px solid var(--white-transparent);
  border-bottom: 1px solid var(--white-transparent);
  z-index: 10;
  transform: scale(1.1, 1);
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* --------------footer---------------- */
.footer-wrapper {
  background-color: var(--black);
  color: var(--grey);
  text-align: center;
  padding: 1rem;
}

.copyrights {
  font-size: 0.6rem;
  margin-top: 0.5rem;
}
/* @media (min-width: 600px) {
  .text {
    padding-left: 5rem;
    padding-right: 5rem;
  }
} */
@media (min-width: 650px) {
  .main-wrapper {
    margin: auto;
  }

  .pic2,
  .pic3,
  .pic4 {
    max-width: 70%;
  }
}

@media (min-width: 1000px) {
  html {
    /* overflow-x: hidden; */
  }
  /* // ----------------navigation-----------------*/

  .nav-bar {
    align-items: center;
    justify-content: center;
    padding-bottom: 20rem;
    height: 100vh;
  }
  .nav-bar-menus {
    align-items: flex-start;
    height: 0rem;
    padding: 0;
  }
  .submenu {
    padding-top: 12rem;
  }

  .text h1::after {
    width: 8rem;
  }
  /* .submenu {
    padding-top: 15rem;
  } */
  .h2 {
    display: block;
    position: absolute;
    z-index: 97;
    bottom: 12rem;
    left: 50%;
    color: var(--white);
    transform: translateX(-50%);
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: 100;
    text-transform: initial;
  }

  .nav-list {
    visibility: hidden;
  }
  .nav-list-dektop-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .nav-list-dektop-wrapper.sticky {
    position: fixed;
    top: -2rem;
    z-index: 999;
  }
  .nav-list-dektop-wrapper::before {
    visibility: hidden;
    content: '';
    background-color: var(--black-transparent);
    position: absolute;
    left: 0;
    right: 0;
    top: 2rem;
    bottom: 1rem;
  }
  .nav-list-dektop-wrapper.sticky::before {
    visibility: visible;
  }

  .nav-list-desktop {
    display: flex;
    position: relative;
    visibility: visible;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .list-desktop-right,
  .list-desktop-left {
    width: 30rem;
  }
  .list-desktop-left {
    justify-content: flex-end;
  }
  .nav-list-desktop li {
    margin-top: 2rem;
    list-style-type: none;
    font-size: 0.8rem;
    font-weight: 600;
  }

  .list-desktop-right.nav-list-desktop-menus li:first-child {
    border: none;
  }
  .list-desktop-left.nav-list-desktop-menus li:last-child {
    border: none;
  }
  .list-desktop-left li:first-child {
    border-right: 2px solid var(--gold);
  }
  .list-desktop-right li:first-child {
    border-right: 2px solid var(--gold);
  }
  .burger,
  .icon-email {
    display: none;
  }

  .logo {
    text-align: center;
    padding-top: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    transition: transform 250ms ease-in-out;
    z-index: 99;
  }
  .logo img {
    height: 150px;
    max-width: 190px;
  }
  .slider_wrapper {
    padding: 0 8rem 0 8rem;
  }

  .text h1 {
    font-size: 2rem;
    padding-top: 3rem;
    line-height: 0.9;
    margin-bottom: 2rem;
  }
  .text p {
    font-size: 1rem;
    line-height: 1.6;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }

  /* .grid1 {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto;
  } */

  .pic2,
  .pic3,
  .pic4 {
    max-width: 100%;
  }
  .menu_pic_bg {
    background-color: var(--black-transparent);
  }
  .big_num {
    color: var(--white-transparent);
    left: 20%;
    top: 40%;
    transform: translateY(-50%);
  }

  .tag_desc {
    font-size: 2rem;
    top: 50%;
    left: 50%;
  }

  .text1 {
    text-align: center;
    /* grid-row: 1;
    grid-column: 1 /3; */
    padding-top: 6rem;
    position: relative;
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .menu_pics {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 4rem;
  }

  .menu_pic {
    height: 15rem;
    width: 15rem;
    padding-bottom: 1rem;
  }
  .menu_pic::after {
    transform: scale(1, 0);
  }
  .menu_pic::before {
    transform: scale(0, 1);
  }
  .menu_pic:hover::after {
    border-right: 1px solid var(--white-transparent);
    border-left: 1px solid var(--white-transparent);
    transform: scale(1, 1.2);
  }
  .menu_pic:hover::before {
    border-top: 1px solid var(--white-transparent);
    border-bottom: 1px solid var(--white-transparent);
    z-index: 10;
    transform: scale(1.1, 1);
  }
  .btn-menu {
    padding-bottom: 7rem;
    display: block;
  }
  .btn-menu::before {
    content: '';
    position: absolute;
    height: 10rem;
    left: 0;
    right: 0;
    transform: translateY(-1rem);
  }

  .btn-about {
    padding-left: 0;
    padding-top: 3rem;
  }
  .text2 {
    text-align: center;
  }

  .btn-contact {
    text-align: center;
    padding: 3rem;
  }

  .pic2 {
    display: none;
  }

  .pic3 {
    max-width: 50%;
  }
  .text4 {
    max-width: 50%;
    padding-right: 5rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .text5 {
    text-align: center;
  }

  .meet_chef {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 1.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .submenu {
    padding-bottom: 15rem;
  }
}
@media (min-width: 1200px) {
  .h2 {
    font-size: 3.5rem;
  }
  .nav-list-desktop li {
    padding: 0 2rem;
  }
  .logo img {
    height: 200px;
  }
  .nav-list-desktop-wrapper::before {
    bottom: -1rem;
  }
  .logo {
    padding-top: 0;
  }
}
